{% extends "HomeBundle::layout.html.twig" %}
{% block title "JobDetails" %}
{% block content %}

<div class="banner_1">
	{{ include('HomeBundle::HomePage/search_form_single.html.twig') }}
</div>	
<div class="container">
    <div class="single">  
	   <div class="col-md-9 single_right">
	       <h2>{{ job.title }}</h2>
		   <i>Par ndiaga, le {{ job.date|date('d/m/Y') }}</i>
		   <br/>
	       <h3>Description de l'offre</h3>
          <div class="well">
                {{ job.description }}
          </div>

         <h3>Compétances Requises</h3>
        <div class="well">
        {{ job.requirements }}
        </div>
	       <dl class="experience">
	       	 <div class="experience_content experience_content1">
	       	   
	       	   <div class="experience_1"><dt><h6>Catégorie:</h6></dt>
	       		 <dd>
	       		 	<p>{{ category.name }}</p>
	       		 </dd></div>
	       	   </div>
	       	   <div class="experience_content">
	       	   	
	       	   	<div class="experience_1">
	       	   	  <dt><h6>Région:</h6></dt>
	       	   	  <dd>
	       	   	  	<p>{{ region.name }}</p>
	       		  </dd>
	       		</div>
	       	   </div>
	       </dl>
	       <div class="comments">
	      	<h6>Entreprise:</h6>
			<div class="media media_1">
			  <div class="media-left"><a href="#"> </a></div>
			  <div class="media-body">
			    <h4 class="media-heading"><a class="author" href="#">InnovativeLabs</a><a class="reply" href="#">Lire</a><div class="clearfix"> </div></h4>
			    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			  <div class="clearfix"> </div>
			</div>			
		  </div>
		  <hr/>
	      <form>
			<div class="to">
             	<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
			 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:3%">
			</div>
			<div class="text">
               <textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
            </div>
            <div class="form-submit1">
	           <input name="submit" type="submit" id="submit" value="Postuler"><br>
	        </div>
			<div class="clearfix"></div>
          </form>
		  
		 <hr/> 
          <div class="candidates-item">
          	 <h5>Offres Similaires en <a href="{{ path('category_view', {'id': category.id}) }}">{{ category.name }}</a> sur <a href="{{ path('region_view', {'id': region.id}) }}">{{ region.name }}</a></h5>	
            {% for job in similar_jobs|slice(0,4) %}	           
		   <div class="candidate_1">
             <div class="thumb_desc">
			   <h6 class="title"><a href="{{ path('job_view', {'id': job.id}) }}">{{job.title}}</a></h6>
			   <span class="meta">{{ job.date|date('d/m/Y') }}</span>
               <div class="candidate_but">
				<ul class="top-btns">					
					<li><a href="{{ path('job_view', {'id': job.id}) }}" class="btn_5 btn-gray fa fa-link">Consulter</a></li>
				</ul>
               </div>
			   <p class="sm_1">{{job.description}}</p>
			</div>
			<div class="clearfix"></div>	
		   </div>		   
		   {% endfor %}
		</div>
       </div>
       <div class="col-md-3">
	   	  <img src="{{ asset('bundles/home/images/a3.jpg') }}images/f11.jpg" class="img-responsive" alt=""/>
	   	  <div class="map_1">
	         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
          </div>
          <table class="condidate_detail">
          	<h4>A Propos de l'entreprise</h4>
			<tbody>
				<tr>
					<td>Nom:</td>
					<td>InnovativeLabs</td>
				</tr>

				<tr>
					<td>Domaine d'activité:</td>
					<td> Informatique IT Télécom</td>
				</tr>

				<tr>
					<td>Pays</td>
					<td>Australia</td>
				</tr>

				<tr>
					<td>Experiance</td>
					<td>10 Years</td>
				</tr>

				<tr>
					<td>Dgree</td>
					<td>MCA</td>
				</tr>

				<tr>
					<td>Career Lavel</td>
					<td>Mid-Level</td>
				</tr>

				<tr>
					<td>Phone</td>
					<td>(800) 2547-879</td>
				</tr>

				<tr>
					<td>Fax</td>
					<td>(800) 1247-256</td>
				</tr>

				<tr>
					<td>E-mail</td>
					<td><a href="mailto:example@example.com">example@example.com</a></td>
				</tr>

				<tr>
					<td>Website</td>
					<td><a href="#">example.com</a></td>
				</tr>
			</tbody>
		 </table>
       </div>
       <div class="clearfix"> </div>
    </div>
</div>   
{% endblock %}